.contenedor-centrado { 
    display: flex;
    background-color: lightblue;

    height: 400px;
    width: 350px;

    flex-direction: column;
    justify-content: center;
}

.caja-centrada { 
    background-color: lightcoral;
}