.bloque {
    /*contenido*/
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    /*relleno pading*/
    padding: 5px;
    /*borde border*/
    border-width: 5px;
    border-style: solid;
    border-color: rgb(172, 172, 245);
    /*tamaño de la caja: border-box (todo a un hancho y alto) contened-box (ancho y alto solo al contenido)*/
    box-sizing: border-box;
    margin: 5px;
}
.linea { 
    display: inline;
    background-color: rgb(218, 218, 32); 
    margin: 20px;
}
.bloque-linea { 
    display: inline-block;
    background-color: aqua;
    margin: 15px;
}