body{border-width: 1px;
border-color: blue;
border-style: solid;}
p{
    /*fondo de color azul claro*/
    background-color: rgb(90, 140, 248);
    /*fuente tipo negrita*/
    font-weight: 800;
    /*borde redondead*/
    border-radius: 10px;
    border-width: 1px;
    border-color: red;
    border-style: dotted;
    /*agregue espacio interior*/
    padding: 10px;
    /*que pasa si agregamos espacio exterior??*/
    margin: 5px;}

.descripcion{
    background-color: rgb(178, 141, 214);
    border: none
}
.tarjeta{ 
    background-color: rgb(241, 176, 176);
    border-width: 2px;
    border-color: blueviolet;
    border-radius: 5px;
    width: 200px;
}
section > h3 { text-align: center;}
h4 { text-align: center;}